@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
* {
  font-family: "Comic Neue", cursive;
  font-weight: normal;
}

.container {
  max-width: 1300px;
  padding: 0 18px;
  overflow: hidden;
}

.header {
  background: #ffffff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 12;
  transition: all 0.7s;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.1607843137);
}
.header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.header .nav-bar .logo img {
  width: 350px;
  height: 33px;
}
.header .nav-bar .share {
  position: relative;
}
.header .nav-bar .share .share-btn {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  outline: none;
  color: #000000;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  margin-right: 40px;
}
.header .nav-bar .share .share-btn::before {
  content: "";
  background: url(../images/share-page-icon.svg) no-repeat;
  position: absolute;
  display: block;
  right: -40px;
  top: 1px;
  width: 30px;
  height: 21px;
  background-size: 30px 21px;
}
.header .nav-bar .share .share-btn::after {
  content: "";
  background: #B00020;
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transition: all 0.3s;
}
.header .nav-bar .share .share-btn:hover::after {
  width: 100%;
  left: 0;
}
.header .nav-bar .share .share-list {
  list-style: none;
  margin: 0;
  padding: 8px 15px;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.6) 0px -4px 15px;
  width: 150px;
  position: absolute;
  z-index: 2;
  right: 0;
  top: 50px;
  display: none;
}
.header .nav-bar .share .share-list::after {
  content: "";
  position: absolute;
  left: 40%;
  top: -9px;
  width: 0px;
  height: 0px;
  border-right: 14px solid transparent;
  border-left: 14px solid transparent;
  border-bottom: 16px solid #ffffff;
  clear: both;
}
.header .nav-bar .share .share-list li {
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2509803922);
  padding: 8px 0 8px 35px;
  font-size: 12px;
  font-family: "Merriweather Sans", sans-serif;
  color: #000000;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.3s;
}
.header .nav-bar .share .share-list li:hover {
  opacity: 1;
}
.header .nav-bar .share .share-list li:last-child {
  border-bottom: none;
}
.header .nav-bar .share .share-list li.copy-link {
  content: "";
  background: url(../images/copy-link-share-icon.svg) no-repeat 0px 6px;
}
.header .nav-bar .share .share-list li.email {
  content: "";
  background: url(../images/email-share-icon.svg) no-repeat 0px 6px;
}
.header .nav-bar .share .share-list li.facebook {
  content: "";
  background: url(../images/fb-share-icon.svg) no-repeat 0px 6px;
}
.header .nav-bar .share .share-list li.twitter {
  content: "";
  background: url(../images/twitter-share-icon.svg) no-repeat 0px 6px;
}
.header .nav-bar .share .share-list li.twitter-x {
  content: "";
  background: url(../images/x-share-icon.svg) no-repeat 0px 9px;
}
.header .nav-bar .share .share-list li.telegram {
  content: "";
  background: url(../images/telegram-share-icon.svg) no-repeat 0px 6px;
}
.header .nav-bar .share .share-list li.in {
  content: "";
  background: url(../images/in-share-icon.svg) no-repeat 0px 6px;
}
.header .nav-bar .share .share-list li.whatsapp {
  content: "";
  background: url(../images/whatsapp-share-icon.svg) no-repeat 0px 6px;
}
.header .nav-bar .share .share-list li.reddit {
  content: "";
  background: url(../images/reddit-share-icon.svg) no-repeat 0px 6px;
}

.header-end {
  height: 73px;
  display: block;
  margin: 0;
  width: 100%;
}
.animate-here .publish-time {
  color: #fff;
  font-size: 12px;
  line-height: normal;
  text-align: center;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: bold;
  margin: 10px 0 0px;
  text-transform: none;
}
@media screen and (min-width: 1650px) {
  .header .nav-bar {
    padding: 25px 0;
  }
  .header .nav-bar .logo img {
    width: 400px;
    height: 38px;
  }
  .header .nav-bar .share .share-btn {
    font-size: 18px;
  }

  .header-end {
    height: 88px;
  }
}
@media screen and (max-width: 1100px) and (min-width: 571px) {
  .header .nav-bar {
    padding: 15px 0;
  }
  .header .nav-bar .logo img {
    width: 250px;
    height: 23px;
  }
  .header .nav-bar .share .share-btn {
    font-size: 14px;
    margin-right: 30px;
  }
  .header .nav-bar .share .share-btn::before {
    right: -30px;
    top: 1px;
    width: 25px;
    height: 17px;
    background-size: 25px 17px;
  }

  .header-end {
    height: 54px;
  }
}
@media screen and (max-width: 570px) {
  .header > .container {
    padding: 0 18px;
  }
  .header .nav-bar {
    padding: 15px 0;
  }
  .header .nav-bar .logo img {
    width: 180px;
    height: 17px;
  }
  .header .nav-bar .share .share-btn {
    font-size: 12px;
    margin-right: 25px;
  }
  .header .nav-bar .share .share-btn::before {
    right: -25px;
    top: 1px;
    width: 20px;
    height: 14px;
    background-size: 20px 14px;
  }

  .header-end {
    height: 54px;
  }
}
.top-section {
  color: #ffffff;
  min-height: 100vh;
  padding: 0px 0 0;
}
.top-section .black-bg {
  padding: 20px 0 0;
}
.top-section .extender {
  position: relative;
  top: 75px;
  overflow: hidden;
  width: 100%;
  height: 100px;
  display: block;
  background: transparent;
}
.top-section .extender::after {
  content: "";
  width: 120%;
  height: 100%;
  background: #000000;
  position: absolute;
  top: -40px;
  left: -10%;
  display: block;
  transform: rotate(-2deg);
}
.top-section h1 {
  font-family: "Bangers", system-ui;
  text-align: center;
  font-size: 100px;
  line-height: 100px;
  max-width: 750px;
  margin: 20px auto;
  letter-spacing: 15px;
}
.top-section h1.start-animate {
  letter-spacing: 5px;
  animation: fillIn 1s ease-in;
}
@keyframes fillIn {
  0% {
    letter-spacing: 15px;
  }
  100% {
    letter-spacing: 5px;
  }
}
.top-section h1 span {
  font-family: inherit;
  -webkit-text-stroke: 1px #ffffff;
  color: transparent;
  letter-spacing: inherit;
  position: relative;
}
.top-section h1 span::after {
  content: "hooch";
  font-family: inherit;
  position: absolute;
  left: 0;
  color: #ffffff;
  animation: wave 3s ease-in-out infinite;
}
@keyframes wave {
  0%, 100% {
    clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}
.top-section h2 {
  font-family: "Comic Neue", cursive;
  text-align: center;
  font-size: 22px;
  line-height: 32px;
  max-width: 800px;
  margin: 20px auto 10px;
}
.top-section h2.start-animate {
  transform: translateY(0);
  opacity: 1;
  animation: fadeIn 2s ease-in;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.top-section .bottle {
  width: 100%;
  margin: 0 auto 0;
  position: relative;
  max-width: 800px;
}
.top-section .bottle img {
  width: 100%;
}
.top-section .bottle .label {
  display: block;
  width: max-content;
  max-width: 400px;
  padding: 20px;
  background: #000000;
  color: #ffffff;
  position: absolute;
  left: 0;
  bottom: 30%;
}
.top-section .bottle .label p {
  margin: 0 0;
  font-size: 30px;
  line-height: 38px;
  font-weight: 500;
}
.top-section .rtl-slide-bottom {
  height: 300px;
  position: relative;
  width: 100%;
  overflow: hidden;
  background: transparent;
}
.top-section .rtl-slide-bottom::before {
  content: "";
  width: 120%;
  height: 100%;
  display: block;
  background: #000000;
  position: absolute;
  top: -120px;
  left: -10%;
  transform: rotate(-8deg);
}
.top-section .rtl-slide-bottom + .picture {
  max-width: 800px;
  margin: -320px auto 0;
  position: sticky;
  bottom: 0;
  z-index: -1;
}

.come-up {
  opacity: 0;
  transform: translateY(100px);
}
.come-up.start-animate {
  transform: translateY(0);
  opacity: 1;
  animation: comeUp 1s ease-in;
}
@keyframes comeUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.come-right {
  opacity: 0;
  transform: translateX(100px);
}
.come-right.start-animate {
  transform: translateX(0);
  opacity: 1;
  animation: comeRight 1s ease-in;
}
@keyframes comeRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.come-left {
  opacity: 0;
  transform: translateX(-100px);
}
.come-left.start-animate {
  transform: translateX(0);
  opacity: 1;
  animation: comeLeft 1s ease-in;
}
@keyframes comeLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in {
  opacity: 0;
}
.fade-in.start-animate {
  opacity: 1;
  animation: fadeIn 1s ease-in;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.picture img {
  width: max-content;
  max-width: 850px;
  margin: 0 auto;
  display: block;
}
.picture.full-height img {
  max-height: 90vh;
}
.picture.full-width img {
  width: 100%;
}
.picture.fire-img {
  margin-top: -600px;
  position: relative;
  z-index: 0;
}
.picture.right-align img {
  margin-right: 0;
}
.picture.left-align img {
  margin-left: 0;
}
.picture.doc {
  width: 980px;
  margin: 0 auto;
}
.picture.doc img {
  width: 600px;
}
.picture.handcuffs {
  margin-right: 140px;
  margin-top: -250px;
}
.picture.handcuffs img {
  width: 425px;
}

.bubbles-container {
  width: 200px;
  height: 200px;
  position: absolute;
  margin: 0 auto;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.bubbles-container span {
  background: url(../images/bubble-white.svg) no-repeat center;
  background-size: 100% 100%;
  display: block;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  animation: animate 2s linear infinite;
}
@keyframes animate {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    transform: translateY(-200px);
    opacity: 0;
  }
}

.parallax {
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 1000px auto;
}
.parallax.item2 {
  background-image: url(../images/3.png);
  height: 100vh;
}
.parallax.item3 {
  background-image: url(../images/4.png);
  height: 100vh;
}

p {
  font-family: "Comic Neue", cursive;
  text-align: left;
  font-weight: 600;
  font-size: 34px;
  line-height: 40px;
  max-width: 800px;
  margin: 20px auto;
}
p:first-child {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}
p.number {
  font-size: 200px;
  line-height: 200px;
  font-family: "Bangers", system-ui;
}
p a {
  font-family: inherit;
  font-weight: inherit;
  color: #B00020;
}
p a:hover {
  color: #B00020;
  text-decoration: none;
}
p .read-more {
  font-size: 22px;
  cursor: pointer;
}

.warp-text-img.right {
  float: right;
}
.warp-text-img.stalin {
  height: 600px;
  shape-outside: url(../images/08.png);
  margin-left: 20px;
  shape-margin: 20px;
}

.section-title {
  font-family: "Bangers", system-ui;
  text-align: left;
  font-size: 60px;
  line-height: normal;
  max-width: 800px;
  margin: 30px auto;
  z-index: 1;
  position: relative;
}

.black-bg {
  background: #000000;
  color: #ffffff;
  width: 100%;
}
.black-bg * {
  position: relative;
  z-index: 1;
}
.black-bg.fire-bg {
  padding-bottom: 1000px;
  background: #000000 url(../images/10.png) no-repeat bottom right;
}

.white-bg {
  background: #ffffff;
}

.hospital-emergency .white-bg {
  padding-bottom: 60px;
}
.hospital-emergency .hospital {
  position: relative;
  margin-top: -20px;
}
.hospital-emergency .hospital p {
  position: absolute;
  top: 200px;
  right: 250px;
  max-width: 300px;
}
.hospital-emergency .emergency {
  position: relative;
}
.hospital-emergency .emergency p {
  position: absolute;
  top: 30px;
  left: 250px;
  max-width: 400px;
}
.hospital-emergency .emergency .picture + p {
  top: unset;
  left: 150px;
  bottom: 150px;
  max-width: 200px;
}

.few-km {
  display: block;
}
.few-km .ltr-slide-top {
  display: none;
}
.few-km .picture {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}
.few-km .picture .text {
  position: absolute;
  color: #ffffff;
  top: 40px;
  left: 40px;
}
.few-km .picture h2 {
  font-family: "Bangers", system-ui;
  font-size: 60px;
  letter-spacing: 1px;
}
.few-km .picture h3 {
  font-weight: 600;
  font-size: 25px;
  max-width: 350px;
}

.methanol {
  margin-top: 0px;
}
.methanol .section-title {
  font-family: "Comic Neue", cursive;
  text-align: center;
  font-weight: normal;
  font-size: 60px;
  white-space: nowrap;
  overflow: hidden;
}
.methanol .section-title span {
  font-size: 90px;
  font-weight: bold;
  font-family: inherit;
}
.methanol .section-title.start-animate {
  animation: animated-text 1.8s steps(19, end) 1s 1 normal both;
}
@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 700px;
  }
}
@keyframes animated-cursor {
  from {
    border-right-color: #aaaaaa;
  }
  to {
    border-right-color: transparent;
  }
}
.methanol .chemical {
  opacity: 0;
  width: 400px;
  margin: 0 auto;
}
.methanol .chemical img {
  width: 100%;
}
.methanol .chemical.start-animate {
  opacity: 1;
  animation: float 2s ease-in-out infinite;
}
@keyframes float {
  0% {
    opacity: 1;
  }
  50% {
    transform: scaleY(1.01) skew(-10deg, -2deg);
  }
}
.methanol .collector-police .text-box {
  padding: 20px;
  max-width: 800px;
  margin: 60px auto 0;
  background: #000000;
  color: #ffffff;
  position: relative;
  z-index: 1;
}
.methanol .collector-police .flex-box {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: -40px;
}
.methanol .collector-police .collector {
  position: relative;
  width: 30%;
}
.methanol .collector-police .collector > .picture img {
  width: 145%;
}
.methanol .collector-police .police {
  position: relative;
  width: 30%;
  margin-top: 300px;
}
.methanol .collector-police .police p {
  position: absolute;
  bottom: 100px;
  right: calc(100% + 50px);
  width: 300px;
}
.methanol .collector-police .police > .picture img {
  width: 120%;
  float: right;
}
.methanol .those-who-had {
  position: relative;
  margin-top: 20px;
}
.methanol .those-who-had p {
  position: absolute;
  top: 40px;
  right: 150px;
  width: 500px;
  z-index: 1;
}
.methanol .beds-and-doc {
  margin-top: 30px;
  position: relative;
  z-index: 1;
  padding-bottom: 20px;
}
.methanol .beds-and-doc p {
  width: 700px;
  margin-left: 0;
}
.methanol .beds-and-doc .picture {
  margin-top: -280px;
}

.the-govt {
  position: relative;
  margin: -230px 0 0;
}
.the-govt .ltr-slide-top {
  height: 200px;
  position: relative;
  width: 100%;
  overflow: hidden;
  background: transparent;
}
.the-govt .ltr-slide-top::before {
  content: "";
  width: 120%;
  height: 200%;
  display: block;
  background: #000000;
  position: absolute;
  top: 90px;
  left: -10%;
  transform: rotate(8deg);
}
.the-govt .container {
  padding: 40px 18px 30px;
}
.the-govt .container:has(.align-right) {
  margin-top: -200px;
  padding: 0 18px;
}
.the-govt .curve-black-bg {
  position: relative;
  overflow: hidden;
  background: #000000;
}
.the-govt .curve-black-bg::before {
  content: "";
  width: 120%;
  height: 950px;
  display: block;
  background: #ffffff;
  position: absolute;
  top: 120px;
  left: 50%;
  right: auto;
  border-radius: 91% 0 0 0;
  z-index: 0;
  /* transform: rotate(-17deg); */
  transform: translateX(-50%);
}
.the-govt .black-bg p {
  font-weight: normal;
}
.the-govt .text-box {
  border: 2px solid #ffffff;
  padding: 25px;
  max-width: 800px;
  margin: 30px auto;
}
.the-govt .align-right {
  display: flex;
  align-items: center;
  justify-content: right;
  color: #000000;
  position: relative;
  margin: 0 0 0px;
  z-index: 2;
  margin-right: 50px;
}
.the-govt .align-right p {
  width: max-content;
  max-width: 250px;
  margin: 0 0;
}

.prefer-hooch .white-bg {
  padding: 30px 0 30px;
}

@media screen and (min-width: 1650px) {
  .top-section .black-bg {
    padding: 40px 0 0;
  }
  .top-section .extender {
    position: relative;
    top: 75px;
    overflow: hidden;
    width: 100%;
    height: 100px;
    display: block;
    background: transparent;
  }
  .top-section .extender::after {
    content: "";
    width: 120%;
    height: 100%;
    background: #000000;
    position: absolute;
    top: -40px;
    left: -10%;
    display: block;
    transform: rotate(-2deg);
  }
  .top-section h1 {
    font-size: 120px;
    line-height: 120px;
    max-width: 850px;
  }
  .top-section h2 {
    font-size: 28px;
    line-height: 38px;
    max-width: 800px;
    margin: 30px auto 20px;
  }
  .top-section .bottle {
    max-width: 1000px;
  }
  .top-section .bottle .label {
    max-width: 500px;
    padding: 30px;
    bottom: 27%;
  }
  .top-section .bottle .label p {
    font-size: 40px;
    line-height: 46px;
  }
  .top-section .rtl-slide-bottom::before {
    transform: rotate(-7deg);
  }
  .top-section .rtl-slide-bottom + .picture {
    max-width: 1000px;
    margin: -350px auto 0;
  }

  .picture img {
    width: max-content;
    max-width: 950px;
    margin: 0 auto;
    display: block;
  }
  .picture.fire-img {
    margin-top: -900px;
    position: relative;
    z-index: 0;
  }
  .picture.doc {
    width: unset;
  }
  .picture.doc img {
    width: 700px;
  }
  .picture.handcuffs {
    margin-top: -250px;
  }
  .picture.handcuffs img {
    width: 500px;
  }

  p {
    font-size: 40px;
    line-height: 48px;
    max-width: 950px;
    margin: 30px auto;
  }
  p .read-more {
    font-size: 24px;
  }
  p.number {
    font-size: 250px;
    line-height: 250px;
    font-family: "Bangers", system-ui;
  }

  .warp-text-img.stalin {
    height: 700px;
    margin-left: 30px;
    shape-margin: 30px;
  }

  .section-title {
    font-size: 70px;
    max-width: 950px;
    margin: 30px auto;
  }

  .hospital-emergency .white-bg {
    padding-bottom: 80px;
  }
  .hospital-emergency .hospital p {
    top: 250px;
  }
  .hospital-emergency .emergency p {
    top: 10px;
    left: 200px;
    max-width: 500px;
  }
  .hospital-emergency .emergency .picture + p {
    bottom: 100px;
    max-width: 300px;
  }

  .few-km .picture {
    max-width: 1000px;
  }
  .few-km .picture .text {
    top: 40px;
    left: 50px;
  }
  .few-km .picture h2 {
    font-size: 70px;
  }
  .few-km .picture h3 {
    font-size: 35px;
  }

  .methanol .section-title {
    font-size: 80px;
  }
  .methanol .section-title span {
    font-size: 120px;
  }
  @keyframes animated-text {
    from {
      width: 0;
    }
    to {
      width: 930px;
    }
  }
  .methanol .chemical {
    width: max-content;
  }
  .methanol .collector-police .text-box {
    padding: 25px;
    max-width: 950px;
  }
  .methanol .collector-police .flex-box {
    margin-top: -60px;
  }
  .methanol .collector-police .collector {
    width: 40%;
  }
  .methanol .collector-police .police {
    width: 40%;
    margin-top: 400px;
  }
  .methanol .collector-police .police p {
    bottom: 150px;
    width: 400px;
  }
  .methanol .those-who-had {
    position: relative;
    margin-top: 20px;
  }
  .methanol .those-who-had p {
    top: 20px;
    right: 150px;
    width: 500px;
  }
  .methanol .beds-and-doc {
    margin-top: 50px;
    position: relative;
  }
  .methanol .beds-and-doc p {
    width: 800px;
  }
  .methanol .beds-and-doc .picture {
    margin-top: -300px;
  }

  .the-govt {
    margin: -250px 0 0;
  }
  .the-govt .container {
    padding: 60px 18px 30px;
  }
  .the-govt .curve-black-bg::before {
    height: 1450px;
    display: block;
    top: 120px;
  }
  .the-govt .text-box {
    padding: 30px;
    max-width: 950px;
    margin: 30px auto;
  }
  .the-govt .align-right {
    margin-right: 20px;
  }
  .the-govt .align-right p {
    width: max-content;
    max-width: 300px;
    margin: 0 0;
  }
}
@media screen and (max-width: 1000px) {
  .top-section .black-bg {
    padding: 20px 0 0;
  }
  .top-section .extender {
    position: relative;
    top: 75px;
    overflow: hidden;
    width: 100%;
    height: 100px;
    display: block;
    background: transparent;
  }
  .top-section .extender::after {
    content: "";
    width: 120%;
    height: 100%;
    background: #000000;
    position: absolute;
    top: -40px;
    left: -10%;
    display: block;
    transform: rotate(-2deg);
  }
  .top-section h1 {
    font-size: 75px;
    line-height: 75px;
    max-width: 600px;
    margin: 20px auto 10px;
  }
  .top-section h2 {
    font-size: 20px;
    line-height: 28px;
    max-width: 600px;
    margin: 10px auto 0px;
  }
  .top-section .bottle {
    max-width: 650px;
  }
  .top-section .bottle .label {
    max-width: 300px;
    padding: 15px;
    bottom: 27%;
  }
  .top-section .bottle .label p {
    font-size: 25px;
    line-height: 32px;
  }
  .top-section .rtl-slide-bottom {
    height: 250px;
  }
  .top-section .rtl-slide-bottom + .picture {
    max-width: 700px;
    margin: -320px auto 0;
    position: sticky;
    bottom: 0;
    z-index: -1;
  }

  .picture img {
    max-width: 700px;
  }
  .picture.doc {
    width: 100%;
    margin: 0 auto;
  }
  .picture.doc img {
    width: 500px;
  }
  .picture.handcuffs {
    margin-top: -250px;
    margin-right: 0;
  }
  .picture.handcuffs img {
    width: 300px;
  }

  p {
    font-size: 30px;
    line-height: 38px;
    max-width: 700px;
  }
  p.number {
    font-size: 150px;
    line-height: 150px;
  }
  p .read-more {
    font-size: 20px;
  }

  .few-km {
    display: block;
  }
  .few-km .picture {
    max-width: 700px;
  }
  .few-km .picture .text {
    top: 40px;
    left: 30px;
  }
  .few-km .picture h2 {
    font-size: 40px;
  }
  .few-km .picture h3 {
    font-size: 20px;
    max-width: 260px;
  }

  .section-title {
    font-size: 60px;
    max-width: 700px;
  }

  .hospital-emergency .white-bg {
    padding-bottom: 0px;
  }
  .hospital-emergency .hospital {
    margin-top: -20px;
  }
  .hospital-emergency .hospital p {
    top: 150px;
    right: 0px;
  }
  .hospital-emergency .emergency p {
    position: absolute;
    top: 10px;
    left: 30px;
    max-width: 400px;
  }
  .hospital-emergency .emergency .picture + p {
    top: unset;
    left: 30px;
    bottom: 100px;
    max-width: 200px;
  }

  .methanol .section-title {
    font-size: 45px;
  }
  .methanol .section-title span {
    font-size: 65px;
  }
  @keyframes animated-text {
    from {
      width: 0;
    }
    to {
      width: 500px;
    }
  }
  .methanol .chemical {
    width: 300px;
    margin: 0 auto 30px;
  }
  .methanol .collector-police .text-box {
    padding: 15px;
    max-width: 700px;
    margin: 60px auto 0;
    background: #000000;
    color: #ffffff;
    position: relative;
    z-index: 1;
  }
  .methanol .collector-police .flex-box {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: -40px;
  }
  .methanol .collector-police .collector {
    position: relative;
    width: 400px;
  }
  .methanol .collector-police .collector > .picture img {
    margin-left: 0;
    width: 115%;
  }
  .methanol .collector-police .police {
    position: relative;
    width: 300px;
    margin-top: 250px;
  }
  .methanol .collector-police .police p {
    position: absolute;
    bottom: 30px;
    right: calc(100% + 50px);
    width: 350px;
  }
  .methanol .those-who-had {
    position: relative;
    margin-top: 20px;
  }
  .methanol .those-who-had p {
    top: 0px;
    right: 30px;
    width: 400px;
  }
  .methanol .beds-and-doc {
    margin-top: 30px;
    position: relative;
    z-index: 1;
  }
  .methanol .beds-and-doc p {
    width: 600px;
  }
  .methanol .beds-and-doc .picture {
    margin-top: -200px;
  }

  .the-govt {
    position: relative;
    margin: -210px 0 0;
  }
  .the-govt .ltr-slide-top {
    height: 150px;
  }
  .the-govt .container:has(.align-right) {
    margin-top: -200px;
  }
  .the-govt .curve-black-bg {
    background: #ffffff;
    margin-top: -50px;
  }
  .the-govt .curve-black-bg::before {
    display: none;
  }
  .the-govt .curve-black-bg .picture img {
    width: 100%;
    max-width: 100%;
  }
  .the-govt .text-box {
    border: 1px solid #ffffff;
    padding: 20px;
    max-width: 700px;
  }
  .the-govt .align-right {
    margin-right: 20px;
  }
  .the-govt .align-right p {
    width: max-content;
    max-width: 200px;
    margin: 0 0;
  }

  .warp-text-img.stalin {
    height: 500px;
    shape-outside: url(../images/08.png);
    margin-left: 15px;
    shape-margin: 15px;
  }

  .prefer-hooch .white-bg {
    padding: 30px 0 10px;
  }
}
@media screen and (max-width: 570px) {
  .container {
    width: 100%;
    padding: 0 0;
  }

  .top-section .black-bg {
    padding: 10px 0 0;
  }
  .top-section h1 {
    font-size: 46px;
    line-height: 50px;
    margin: 20px auto 10px;
    letter-spacing: 7px;
    max-width: 340px;
  }
  .top-section h1.start-animate {
    letter-spacing: 2px;
    animation: fillIn 1s ease-in;
  }
  @keyframes fillIn {
    0% {
      letter-spacing: 7px;
    }
    100% {
      letter-spacing: 2px;
    }
  }
  .top-section h2 {
    font-size: 18px;
    line-height: 24px;
    max-width: calc(100% - 36px);
    margin: 10px auto 0px;
  }
  .top-section .bottle {
    max-width: 100%;
  }
  .top-section .bottle .label {
    max-width: 200px;
    padding: 10px;
    bottom: 30%;
  }
  .top-section .bottle .label p {
    font-size: 20px;
    line-height: 28px;
  }
  .top-section .rtl-slide-bottom {
    height: 200px;
  }
  .top-section .rtl-slide-bottom + .picture {
    max-width: 100%;
    margin: -200px auto 0;
  }

  .picture img {
    max-width: 100%;
  }
  .picture.doc {
    width: 100%;
    margin: 0 0;
  }
  .picture.doc img {
    width: 85%;
  }
  .picture.handcuffs {
    margin-top: -20px;
    margin-right: 0;
    width: 100%;
    text-align: right;
  }
  .picture.handcuffs img {
    width: 65%;
  }
  .picture.fire-img {
    margin-top: -250px;
  }

  p {
    font-size: 18px;
    line-height: 22px;
    max-width: calc(100% - 36px);
  }
  p.number {
    font-size: 120px;
    line-height: 120px;
  }
  p .read-more {
    font-size: 14px;
  }

  .few-km {
    display: block;
  }
  .few-km .ltr-slide-top {
    height: 150px;
    position: relative;
    width: 100%;
    overflow: hidden;
    background: transparent;
    display: block;
  }
  .few-km .ltr-slide-top::before {
    content: "";
    width: 120%;
    height: 200%;
    display: block;
    background: #000000;
    position: absolute;
    top: 40px;
    left: -10%;
    transform: rotate(8deg);
  }
  .few-km .ltr-slide-top + .container {
    margin-top: -30px;
    overflow: unset;
  }
  .few-km .picture {
    max-width: 100%;
  }
  .few-km .picture .text {
    top: -50px;
    left: 30px;
    z-index: 3;
  }
  .few-km .picture h2 {
    font-size: 30px;
  }
  .few-km .picture h3 {
    font-size: 18px;
    max-width: 260px;
  }

  .section-title {
    font-size: 50px;
    max-width: calc(100% - 36px);
    margin: 20px auto;
  }

  .hospital-emergency .white-bg {
    padding-bottom: 0px;
  }
  .hospital-emergency .hospital {
    margin-top: 0px;
  }
  .hospital-emergency .hospital p {
    top: 70px;
    right: 18px;
    max-width: 140px;
  }
  .hospital-emergency .emergency {
    margin-top: 35px;
  }
  .hospital-emergency .emergency p {
    position: absolute;
    top: -20px;
    left: 18px;
    max-width: 200px;
  }
  .hospital-emergency .emergency .picture + p {
    top: unset;
    left: 18px;
    bottom: 0px;
    max-width: 100px;
  }

  .methanol {
    margin-top: 20px;
  }
  .methanol .section-title {
    font-size: 28px;
    margin-bottom: 15px;
  }
  .methanol .section-title span {
    font-size: 40px;
  }
  @keyframes animated-text {
    from {
      width: 0;
    }
    to {
      width: 320px;
    }
  }
  .methanol .chemical {
    width: 200px;
    margin: 0 auto 15px;
  }
  .methanol .collector-police .text-box {
    padding: 10px;
    max-width: calc(100% - 36px);
    margin: 25px auto 0;
  }
  .methanol .collector-police .text-box p {
    font-size: 16px;
    line-height: 22px;
  }
  .methanol .collector-police .flex-box {
    margin-top: -20px;
  }
  .methanol .collector-police .collector {
    position: relative;
    width: 50%;
  }
  .methanol .collector-police .collector > .picture img {
    width: 150%;
    max-width: unset;
  }
  .methanol .collector-police .police {
    position: relative;
    width: 50%;
    margin-top: 140px;
  }
  .methanol .collector-police .police > .picture img {
    width: 120%;
    max-width: unset;
  }
  .methanol .collector-police .police p {
    bottom: 10px;
    right: calc(120% - 18px);
    width: 170px;
  }
  .methanol .those-who-had {
    position: relative;
    margin-top: 60px;
  }
  .methanol .those-who-had p {
    top: -15%;
    right: 18px;
    width: 53%;
  }
  .methanol .beds-and-doc {
    margin-top: 30px;
    position: relative;
    z-index: 1;
  }
  .methanol .beds-and-doc p {
    width: 100%;
    max-width: calc(100% - 36px);
    margin-left: auto;
    margin-right: auto;
  }
  .methanol .beds-and-doc .picture {
    margin-top: -80px;
  }

  .the-govt {
    position: relative;
    margin: -100px 0 0;
  }
  .the-govt .ltr-slide-top {
    height: 60px;
  }
  .the-govt .ltr-slide-top::before {
    top: 30px;
  }
  .the-govt .container {
    padding: 40px 0 20px;
  }
  .the-govt .container:has(.align-right) {
    margin-top: -50px;
  }
  .the-govt .curve-black-bg {
    background: #ffffff;
    margin-top: -30px;
  }
  .the-govt .curve-black-bg::before {
    display: none;
  }
  .the-govt .curve-black-bg .picture img {
    width: 100%;
    max-width: 100%;
  }
  .the-govt .text-box {
    border: 1px solid #ffffff;
    padding: 10px;
    max-width: calc(100% - 36px);
    margin: 15px auto;
  }
  .the-govt .align-right {
    width: 100%;
    margin: 0 auto;
    justify-content: right;
  }
  .the-govt .align-right p {
    width: max-content;
    max-width: 160px;
    margin: 0 0;
    text-align: right;
    margin-right: 15px;
  }

  .warp-text-img.stalin {
    height: auto;
    shape-outside: unset;
    margin-left: 0;
    shape-margin: 0;
    width: 100%;
    max-width: 400px;
  }

  .picture:has(.stalin) {
    margin-top: -20px;
  }

  .prefer-hooch .white-bg {
    padding: 30px 0 10px;
  }
}
.container:has(.source) {
  margin: 0 auto;
  padding: 25px 18px 50px;
  background: #ffffff;
}

.source .small-title-with-icon {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  text-align: left;
  margin: 20px 0;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2509803922);
}
.source .small-title-with-icon::before {
  content: "";
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  background: url(../images/h-circle-black-white.svg) no-repeat;
  background-size: 40px 40px;
  margin-right: 10px;
}
.source p {
  font-family: "Comic Neue", cursive;
  font-size: 16px;
  text-align: left;
  font-weight: 500;
  line-height: 26px;
}
.source p strong {
  font-weight: 900;
}
.source p.authors {
  font-family: "Merriweather Sans", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  max-width: unset;
}
.source p.authors span {
  font-family: "Merriweather Sans", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
}
.source p.authors span::after {
  content: "|";
  color: rgba(0, 0, 0, 0.2666666667);
  margin: 0 15px;
}
.source p.authors span:last-child::after, .source p.authors span.no-spliter::after {
  display: none;
}

@media screen and (max-width: 570px) {
  .container:has(.source) {
    margin: 0 auto;
    padding: 20px 18px;
    background: #ffffff;
  }

  .source .small-title-with-icon {
    font-size: 16px;
    margin: 15px 0;
    padding-bottom: 7px;
  }
  .source .small-title-with-icon::before {
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    margin-right: 7px;
    position: relative;
    top: -2px;
  }
  .source p {
    font-size: 14px;
    line-height: 22px;
  }
  .source p.authors {
    font-size: 14px;
    line-height: 26px;
  }
  .source p.authors span {
    font-size: 14px;
    line-height: 26px;
    margin-right: 0px;
    display: block;
    margin: 5px 0;
  }
  .source p.authors span::after, .source p.authors span.no-spliter::after {
    display: none;
  }
}
@media screen and (max-width: 1000px) and (min-width: 571px) {
  .container:has(.source) {
    padding: 0px 18px 30px;
  }

  .normal-section {
    margin: 30px 0;
  }

  .source p.authors span::after, .source p.authors span.no-spliter::after {
    content: "|";
    margin: 0px 10px;
    display: inline;
  }
}
@media screen and (max-width: 1200px) and (min-width: 1001px) {
  .source p.authors span::after, .source p.authors span.no-spliter::after {
    content: "|";
    margin: 0px 15px;
    display: inline;
  }
}
.element {
  display: block;
  margin: 10px 0;
}
.element > *:first-child {
  margin-top: 0 !important;
}
.element > *:last-child {
  margin-bottom: 0 !important;
}
.element .picture {
  width: 100%;
  height: auto;
  margin: 0px 0 15px;
  position: relative;
  background: #e4e4e4 url(../images/the-hindu-thumbnail.svg) no-repeat center;
  background-size: 75% auto;
  width: 100%;
  --bs-aspect-ratio: calc(9 / 16 * 100%);
  display: block;
  overflow: hidden;
}
.element .picture::before {
  display: block;
  padding-top: var(--bs-aspect-ratio);
  content: "";
}
.element .picture > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.element .picture img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 100%;
  min-height: unset;
  transition: all 2s;
}
.element .title {
  font-family: "Comic Neue", cursive;
  font-size: 22px;
  line-height: normal;
  letter-spacing: -0.4px;
  text-align: left;
  margin: 5px 0 20px;
  color: #000000;
  font-weight: bold;
}
.element .title a {
  font-family: inherit;
  font-weight: inherit;
}
.element .title a u {
  font-family: inherit;
  font-weight: inherit;
}
.element .sub-text {
  font-size: 15px;
  letter-spacing: -0.5px;
  text-align: left;
  margin: 10px 0;
  color: #000000;
}
.element .by-line {
  font-size: 10px;
  letter-spacing: 1px;
  text-align: left;
  margin: 15px 0;
  line-height: 14px;
  text-transform: uppercase;
}
.element .by-line a {
  text-decoration: none;
  border-bottom: 1px solid rgba(43, 46, 52, 0.5647058824);
  color: #2B2E34;
  width: max-content;
  font-weight: bold;
  text-transform: uppercase;
}
.element .by-line a:hover {
  text-decoration: none;
  border-bottom: none;
}
.element .content {
  margin-top: 15px;
}
.element .content > *:first-child {
  margin-top: 0 !important;
}
.element .content > *:last-child {
  margin-bottom: 0 !important;
}

a.element {
  display: block;
  text-decoration: none;
  color: #000000;
}
a.element:hover {
  color: #000000;
}
a.element:hover .title {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-color: #aaaaaa;
}
a.element:hover .picture img {
  transform: scale(1.1);
}

.normal-section .container {
  padding: 0 18px;
}

.five-line-spliter {
  display: block;
  width: 100%;
  padding: 3px 0;
  margin: 20px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2509803922);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2509803922);
}
.five-line-spliter span {
  display: block;
  padding: 3px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2509803922);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2509803922);
}
.five-line-spliter span i {
  background-color: rgba(0, 0, 0, 0.2509803922);
  height: 1px;
  width: 100%;
  display: block;
}

/** Five Line title **/
.five-line-title {
  width: 100%;
  position: relative;
  text-align: center;
  margin: 40px auto 30px;
}
.five-line-title * {
  position: relative;
  z-index: 2;
}
.five-line-title .five-line-spliter {
  position: absolute;
  top: 11px;
  margin: 0 0;
  width: 100%;
  z-index: 0;
}
.five-line-title h2, .five-line-title h3 {
  text-align: center;
  font-size: 40px;
  color: #000000;
  background: #ffffff;
  padding: 0 20px;
  display: block;
  width: max-content;
  max-width: 90%;
  margin: 0px auto;
  font-family: "Bangers", system-ui;
  font-weight: 900;
  letter-spacing: 1px;
}
.five-line-title h2 + .five-line-spliter, .five-line-title h2 + * + .five-line-spliter, .five-line-title h2 + * + * + .five-line-spliter, .five-line-title h3 + .five-line-spliter, .five-line-title h3 + * + .five-line-spliter, .five-line-title h3 + * + * + .five-line-spliter {
  top: 15px;
}

@media screen and (max-width: 1000px) and (min-width: 571px) {
  .element .picture {
    margin: 0px 0 15px;
  }
  .element .title {
    font-size: 20px;
  }
  .element .sub-text {
    font-size: 14px;
  }

  .five-line-title {
    margin: 20px auto 10px;
  }
  .five-line-title h3, .five-line-title h2 {
    font-size: 30px;
    padding: 0 15px;
  }
  .five-line-title h3 + .five-line-spliter, .five-line-title h2 + .five-line-spliter {
    top: 7px;
  }
}
@media screen and (max-width: 570px) {
  .element {
    display: flex;
    padding: 12px 0;
    margin: 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2509803922);
    align-items: flex-start;
    justify-content: space-between;
  }
  .element .picture {
    margin: 0;
    width: 100px;
    --bs-aspect-ratio: calc(1 / 1 * 100%);
  }
  .element .content {
    width: calc(100% - 110px);
  }
  .element .title {
    font-size: 18px;
  }
  .element .sub-text {
    font-size: 14px;
  }
  .element .content {
    margin-top: 0px;
  }

  a.element {
    display: flex;
  }

  .col-12:last-child .element {
    border-bottom: none;
  }

  .five-line-title {
    margin: 30px auto 0px;
  }
  .five-line-title h3, .five-line-title h2 {
    font-size: 24px;
    padding: 0 10px;
  }
  .five-line-title h3 + .five-line-spliter, .five-line-title h3 + * + .five-line-spliter, .five-line-title h3 + * + * + .five-line-spliter, .five-line-title h2 + .five-line-spliter, .five-line-title h2 + * + .five-line-spliter, .five-line-title h2 + * + * + .five-line-spliter {
    top: 5px;
  }
}
.popup {
  z-index: 99;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
}
.popup .popup-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(0, 0, 0, 0.1333333333);
  animation: closePopup 0.3s ease-in-out;
}
@keyframes closePopup {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.popup .popup-container .popup-body {
  width: 94%;
  max-width: 980px;
  height: 700px;
  max-height: 80vh;
  background: #ffffff;
  width: 10px;
  height: 2px;
  animation: minimizePopup 2s ease-in-out;
  opacity: 0;
  position: relative;
  padding: 20px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}
@keyframes minimizePopup {
  0% {
    height: 700px;
  }
  50% {
    height: 2px;
  }
  65% {
    width: 10px;
  }
  100% {
    opacity: 0;
  }
}
.popup .popup-container .popup-body .close-btn {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 40px;
  height: 40px;
  background: #000000;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border-radius: 3px;
  transition: all 0.3s;
  border: 1px solid #000000;
  outline: none;
  transform: scale(0.85);
  opacity: 0;
}
.popup .popup-container .popup-body .close-btn:hover {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
  transform: scale(1);
}
.popup.open {
  display: block;
}
.popup.open .popup-container {
  animation: openPopup 0.3s ease-in-out;
  opacity: 1;
}
@keyframes openPopup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.popup.open .popup-container .popup-body {
  width: 94%;
  height: 700px;
  opacity: 1;
  animation: expandPopup 1s ease-in-out;
}
@keyframes expandPopup {
  0% {
    width: 10px;
    height: 2px;
    opacity: 1;
  }
  40% {
    width: 94%;
    height: 2px;
  }
  60% {
    width: 94%;
    height: 2px;
  }
  100% {
    height: 700px;
  }
}
.popup.open .popup-container .popup-body .close-btn {
  animation: closeBtn 2s ease-in-out;
  opacity: 1;
}
@keyframes closeBtn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 570px) {
  .popup .popup-container .popup-body {
    max-width: 94%;
    max-height: 90vh;
    padding: 10px;
  }
  .popup .popup-container .popup-body .close-btn {
    right: -10px;
    top: -10px;
    width: 30px;
    height: 30px;
    font-size: 16px;
  }
}
.stop-scroll {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  top: 0;
  left: 0;
}

/*# sourceMappingURL=style.css.map */
